<p>For Ubisoft's latest edition to the Assassin's Creed series, Assassin’s Creed Unity, Midnight Oil created a weekly prize giveaway. Customers who preordered the game received free in game items through this program along with the change to win prizes such as figurines and trips to Paris.</p>

<p>The site utilized responsive design patterns.</p>

<img class="screen-cap" src="/img/work/ac-unity/screens/landingPage.jpg" />

<img class="screen-cap" src="/img/work/ac-unity/screens/prizepage.jpg" />

<img class="screen-cap" src="/img/work/ac-unity/screens/prizewon.jpg" />