<p>Working aside Fox Television’s For Your Consideration print campaign, Midnight Oil created a web application where voters could access a library of episodes larger than those provided in the traditional For your Consideration mailer. Users could register up to five devices to access the website. This website was also used as a case study for device and browser fingerprinting in lieu of traditional authentication systems.</p>

<p>The site utilized responsive design patterns with a emphasis on tablet and mobile devices.</p>

<img class="screen-cap" src="/img/work/fox-emmy/screens/showCredits.jpg" />

<img class="screen-cap" src="/img/work/fox-emmy/screens/showEnterCode.jpg" />

<img class="screen-cap" src="/img/work/fox-emmy/screens/Emmy_LandingOnly.jpg" />

<img class="screen-cap" src="/img/work/fox-emmy/screens/showPlay.jpg" />

<img class="screen-cap" src="/img/work/fox-emmy/screens/showFamilyGuy.jpg" />

<img class="screen-cap" src="/img/work/fox-emmy/screens/showNewgirl.jpg" />

<img class="screen-cap" src="/img/work/fox-emmy/screens/show.jpg" />

<img class="screen-cap" src="/img/work/fox-emmy/screens/mobileepisodes.jpg" />