<p>Working with structural engineers, Midnight Oil created an intheater kiosk experience for the Warner Brothers movie Man of Steel. Users were challenging to take a 'super' personality test and find out which House of Krypton they descended from.  As Users answered questions, their house's sigil would reveal itself slowly.</p>

<p>After the user has discovered their ancestral house, they were prompted to stand in front of a camrea built into the kiosk and have their photo taken.  Using chromakey and some simple compositing, users ended up with a personalized photo of themselves with their house sigil on their chest in the style of Superman's 'S'.  Finally users could share their photo on Facebook or via email.</p>

<p>This experience was a native Windows application written in C#.</p>

<img class="screen-cap" src="/img/work/man-of-steel/screens/sharablefinal.jpg" />

<video class="video-cap" width="640" height="1138" controls autoplay="true" loop="true">
	<source src="/img/work/man-of-steel/video/house.mp4" type="video/mp4">
	<source src="/img/work/man-of-steel/video/house.webm" type="video/webm">
	<img class="screen-cap" src="/img/work/man-of-steel/screens/quiz.jpg" />
</video>

<img class="screen-cap" src="/img/work/man-of-steel/screens/attract.jpg" />

<img class="screen-cap" src="/img/work/man-of-steel/screens/quiz.jpg" />

<img class="screen-cap" src="/img/work/man-of-steel/screens/takePhoto.jpg" />

<img class="screen-cap" src="/img/work/man-of-steel/screens/placeSymbol.jpg" />

<img class="screen-cap" src="/img/work/man-of-steel/screens/sharable.jpg" />