<p>Working with Underwriter Laboratories, Midnight Oil created an ‘edutainment’ website containing resources for parents, educators, and kids to learn about a variety of safety topics.  Parents can track their child's daily safety checklist, while kids enjoy safety quizes and educational videos.</p>

<p>HTML5 canvas games were made to help teach kids about safety.  These games run in HTML5 canvas and were created using the CreateJS canvas library. </p>

<p>The site utilized responsive design patterns with a emphasis on tablet and mobile devices.</p>

<img class="screen-cap" src="/img/work/safety-smart/screens/trackandyield.jpg" />

<img class="screen-cap" src="/img/work/safety-smart/screens/quiz.jpg" />

<img class="screen-cap" src="/img/work/safety-smart/screens/gamesPage.jpg" />

<img class="screen-cap" src="/img/work/safety-smart/screens/billnye.jpg" />

<img class="screen-cap" src="/img/work/safety-smart/screens/mobileShot.jpg" />

<img class="screen-cap" src="/img/work/safety-smart/screens/frontpage.jpg" />

<img class="screen-cap" src="/img/work/safety-smart/screens/questionoftheweek.jpg" />
