<p>Midnight Oil created a parody of whitehouse.gov in the style of the Saints Row video game franchise.  Users could interact with the Saints office in a number of ways. Users could vote on new legislation for the Saints to enact into law.  To show off the large variety of weapons in the game, users could "register" their Saints Row weapons by sharing them on social networks.  Along with learn about the characters in the game, users could create their own Saints Row driver's license and share it on Facebook or Twitter.</p>

<p>This site seperated out a desktop and mobile experiences.</p>

<img class="screen-cap" src="/img/work/saints-row/screens/license.jpg" />

<img class="screen-cap" src="/img/work/saints-row/screens/desktop.jpg" />

<img class="screen-cap" src="/img/work/saints-row/screens/votingresults.jpg" />

<img class="screen-cap" src="/img/work/saints-row/screens/registeryourgun.jpg" />

<img class="screen-cap" src="/img/work/saints-row/screens/mobilehome.jpg" />

<img class="screen-cap" src="/img/work/saints-row/screens/mobilemenu.jpg" />

