<div class="youtube-player-wrapper">
	<iframe class="youtube-player" src="//www.youtube.com/embed/Cx-XM8tKn4M?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
<p>The Tomb Raider Scavenger Hunt was a web application that was only accessible by customers who preordered Square Enix’s 2013 Tomb Raider video game. Each week users were given trivia and photo challenges. When users completed these challenges they unlocked free ingame DLC. These challenges created a variety of UGC that was used throughout the social media campaign.</p>